.desktop {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .overlap-wrapper {
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(180deg, rgb(70.75, 170.59, 192.51) 0%, rgba(8.5, 255, 210.63, 0.22) 100%);
  width: 1440px;
  height: 1024px;
}

.desktop .overlap {
  position: relative;
  width: 1298px;
  height: 901px;
  top: 76px;
  left: 62px;
}

.desktop .rectangle {
  position: absolute;
  width: 1288px;
  height: 898px;
  top: 3px;
  left: 0;
  background-color: #e1e1e1;
}

.desktop .text-wrapper {
  position: absolute;
  top: 588px;
  left: 159px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 22.3px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .div {
  position: absolute;
  width: 1288px;
  height: 98px;
  top: 0;
  left: 0;
  background-color: #dbeff0;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 54px;
  left: 512px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 19.6px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 54px;
  left: 644px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 19.6px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image-removebg {
  position: absolute;
  width: 97px;
  height: 97px;
  top: 3px;
  left: 111px;
  object-fit: cover;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 54px;
  left: 280px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #47abc1;
  font-size: 19.6px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 54px;
  left: 396px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 19.6px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-2 {
  position: absolute;
  width: 50px;
  height: 2px;
  top: 81px;
  left: 279px;
  background-color: #46aac0;
}

.desktop .group {
  position: absolute;
  width: 167px;
  height: 34px;
  top: 41px;
  left: 1022px;
}

.desktop .overlap-group {
  position: relative;
  width: 165px;
  height: 34px;
  background-color: #ffffff;
  border-radius: 9px;
}

.desktop .icon-search {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 8px;
  left: 135px;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 8px;
  left: 14px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #8d8d8d;
  font-size: 14.1px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-2 {
  position: absolute;
  width: 105px;
  height: 25px;
  top: 181px;
  left: 95px;
}

.desktop .rectangle-3 {
  position: absolute;
  width: 101px;
  height: 1px;
  top: 24px;
  left: 1px;
  background-color: #1cbeb4;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #8d8d8d;
  font-size: 14.1px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .treat-yourself-to {
  position: absolute;
  top: 410px;
  left: 115px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #8d8d8d;
  font-size: 19.2px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .icon-shopping-cart {
  position: absolute;
  width: 30px;
  height: 27px;
  top: 43px;
  left: 1221px;
}

.desktop .rectangle-4 {
  position: absolute;
  width: 191px;
  height: 59px;
  top: 495px;
  left: 142px;
  background-color: #15b4e6;
  border-radius: 30px;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 509px;
  left: 184px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 22.3px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .argb {
  position: absolute;
  width: 685px;
  height: 499px;
  top: 136px;
  left: 613px;
  object-fit: cover;
}

.desktop .we-believe-in {
  position: absolute;
  width: 348px;
  top: 221px;
  left: 93px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: transparent;
  font-size: 65.5px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .span {
  color: #000000;
}

.desktop .text-wrapper-9 {
  color: #46aac0;
}

.desktop .img {
  position: absolute;
  width: 46px;
  height: 29px;
  top: 594px;
  left: 96px;
}

.desktop .rectangle-5 {
  position: absolute;
  width: 220px;
  height: 89px;
  top: 641px;
  left: 93px;
  background-color: #ffffff;
  border-radius: 16px;
}

.desktop .rectangle-6 {
  position: absolute;
  width: 220px;
  height: 89px;
  top: 634px;
  left: 372px;
  background-color: #ffffff;
  border-radius: 16px;
}

.desktop .rectangle-7 {
  position: absolute;
  width: 220px;
  height: 89px;
  top: 770px;
  left: 93px;
  background-color: #ffffff;
  border-radius: 16px;
}

.desktop .rectangle-8 {
  position: absolute;
  width: 220px;
  height: 89px;
  top: 770px;
  left: 372px;
  background-color: #ffffff;
  border-radius: 16px;
}

.desktop .image {
  width: 86px;
  height: 86px;
  top: 644px;
  left: 222px;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper-10 {
  position: absolute;
  top: 650px;
  left: 115px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 27.1px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 685px;
  left: 127px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #46aac0;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-12 {
  top: 811px;
  left: 120px;
  position: absolute;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #46aac0;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-13 {
  top: 818px;
  left: 403px;
  position: absolute;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #46aac0;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-14 {
  position: absolute;
  top: 708px;
  left: 110px;
  text-shadow: 0px 4px 8px #00000040;
  font-family: "K2D-Regular", Helvetica;
  font-weight: 400;
  color: #175968;
  font-size: 16.1px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-15 {
  top: 837px;
  left: 123px;
  position: absolute;
  text-shadow: 0px 4px 8px #00000040;
  font-family: "K2D-Regular", Helvetica;
  font-weight: 400;
  color: #175968;
  font-size: 16.1px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-16 {
  top: 699px;
  left: 400px;
  position: absolute;
  text-shadow: 0px 4px 8px #00000040;
  font-family: "K2D-Regular", Helvetica;
  font-weight: 400;
  color: #175968;
  font-size: 16.1px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-17 {
  top: 837px;
  left: 407px;
  position: absolute;
  text-shadow: 0px 4px 8px #00000040;
  font-family: "K2D-Regular", Helvetica;
  font-weight: 400;
  color: #175968;
  font-size: 16.1px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-18 {
  position: absolute;
  top: 653px;
  left: 387px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-19 {
  top: 676px;
  left: 415px;
  position: absolute;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #46aac0;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .APPLE-iphone-pro {
  position: absolute;
  top: 769px;
  left: 115px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 16.1px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .apple-watch-ultra {
  position: absolute;
  top: 779px;
  left: 400px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-9 {
  position: absolute;
  width: 292px;
  height: 119px;
  top: 687px;
  left: 816px;
  background-color: #46aac0;
  border-radius: 20px;
}

.desktop .overlap-group-wrapper {
  position: absolute;
  width: 10px;
  height: 66px;
  top: 670px;
  left: 1088px;
}

.desktop .overlap-2 {
  position: relative;
  width: 4px;
  height: 66px;
}

.desktop .text-wrapper-20 {
  top: 6px;
  position: absolute;
  left: 0;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-21 {
  top: 0;
  position: absolute;
  left: 0;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-22 {
  top: 12px;
  position: absolute;
  left: 0;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .get-off-on-your {
  position: absolute;
  top: 740px;
  left: 846px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-23 {
  position: absolute;
  top: 710px;
  left: 846px;
  font-family: "K2D-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image-2 {
  width: 64px;
  height: 64px;
  top: 646px;
  left: 524px;
  position: absolute;
  object-fit: cover;
}

.desktop .image-removebg-2 {
  position: absolute;
  width: 175px;
  height: 175px;
  top: 703px;
  left: 1004px;
  object-fit: cover;
}

.desktop .image-3 {
  width: 55px;
  height: 62px;
  top: 783px;
  left: 524px;
  position: absolute;
  object-fit: cover;
}

.desktop .image-4 {
  width: 58px;
  height: 72px;
  top: 778px;
  left: 241px;
  position: absolute;
  object-fit: cover;
}
